# ----------------- #
#  Dependencies   #
# ----------------- #
# Папки з залежностями, які встановлюються через Composer та NPM.
# Вони важать дуже багато і мають встановлюватися на кожній машині окремо.
/laravel_app/node_modules
/laravel_app/vendor

# ----------------- #
#      Laravel      #
# ----------------- #
# Файл з секретними ключами, паролями до бази даних і т.д.
# Він ніколи не повинен потрапляти у репозиторій.
/laravel_app/.env

# Зкомпільовані файли фронтенду від Vite. Генеруються командою `npm run build`.
/laravel_app/public/build

# Файл, який створює Vite у режимі розробки.
/laravel_app/public/hot

# Папка для логів, сесій, завантажених файлів та кешу.
# Вона повинна мати спеціальні права на сервері.
/laravel_app/storage

# Кеш-файли фреймворку.
/laravel_app/bootstrap/cache/*.php

# ----------------- #
#   IDE & Editors   #
# ----------------- #
# Файли конфігурації для різних редакторів коду.
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# ----------------- #
#   OS Generated    #
# ----------------- #
# Системні файли macOS та Windows.
.DS_Store
Thumbs.db

# ----------------- #
#       Logs        #
# ----------------- #
# Різні лог-файли.
*.log
npm-debug.log*
yarn-error.log